html,body{
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
    background-color: #333333;
    position: sticky !important;
    top: 0;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    border-bottom: 5px solid #9A7D0A;
   
  
  text-decoration: none;
  color: #9A7D0A;
  
  }


.row{
    justify-content: space-around ;
    padding-top: 50px;
    align-items: center;

}


.card-img-top{
    display: flex;
    height: 300px;
    width: 250px;
    margin-top: 5px;
}



.rouge{
    color: red;
}

.panels{
    display: flex;
    height: 70vh;
    width: 100%;
    
}
.panel{
    height: 100%;
    flex:1;
    transition: flex 1s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;

    justify-content: center;

    align-items: center;
   
}
.panel:hover{
    flex:1.2
}

.panel>.titreJeu:hover{
    opacity: 100%;
}

.lion{
    background-image: url("../img/overwatch.jpg");
}

.hands{
    background-image: url("../img/mario.jpg");
  

}
.eye{
    background-image: url("../img/minecraft.jpg");

}
.road{
    background-image: url("../img/fifa.jpg");

}

.titreJeu{
    color: white;
    font-size: 4em;
    font-family: 'Roboto';
    opacity: 0%;
    transition: opacity 1s;
}

.container{

display: flex;
    
}






